.card-wrapper{
    margin: 0 auto;
    width: 85%;
    height: 800px;
    background: red;
}

@media only screen and (max-width:900px){

    .card-wrapper{
        width: 90%;
        height: 600px;
        background: gold;
    }
    
}

@media only screen and (max-width:400px){

    .card-wrapper{
        width: 94%;
        background: green;
        height: 500px;
    }
    
}